<nav style="width: 100%; background-color: whitesmoke; padding: 1rem 1rem">
  <a
    style="color: black; font-weight: 700; cursor: pointer"
    [routerLink]="['/dashboard']"
  >
    <fa-icon [icon]="faArrowLeft"></fa-icon> Go back</a
  >
</nav>
<div
  style="
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <div #talkjsContainer style="height: 80%; width: 100%">Loading...</div>
  <!-- loading if true  -->
  <ng-container *ngIf="isLoading">
    <app-loader></app-loader>
  </ng-container>
</div>
