<main class="verify-email">
  <div class="container">
    <div class="row">
      <!-- {/* col-6  */} -->
      <div class="col-12 col-lg-6 mx-auto">
        <div class="card shadow-lg">
          <!-- {/* card-body  */} -->
          <div class="card-body">
            <h5 class="card-title text-center">
              A token is send to your email please check your email
            </h5>
            <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
              <!-- {/* token  */} -->
              <div class="mb-4">
                <label for="token" class="form-label"> Enter Token </label>
                <input
                  type="password"
                  class="form-control"
                  id="token"
                  placeholder="Enter token"
                  formControlName="token"
                  [ngClass]="{
                    'is-invalid': token?.invalid && token?.touched
                  }"
                />
                <small
                  *ngIf="token?.invalid && token?.touched"
                  class="text-danger"
                >
                  This field is required
                </small>
              </div>
              <!-- {/* password  */} -->
              <div class="mb-4">
                <label for="password" class="form-label">
                  Enter new password
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="password"
                  placeholder="Enter your password"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid': password?.invalid && password?.touched
                  }"
                />
                <small
                  *ngIf="password?.invalid && password?.touched"
                  class="text-danger"
                >
                  This field is required
                </small>
              </div>
              <!-- show error message if user not found or api not working  -->
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="!loading && errorMessage"
              >
                {{ errorMessage }}
              </div>

              <div class="mb-4 text-end">
                <button type="submit" class="btnn btnn__submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- loading  -->
  <ng-container *ngIf="loading">
    <app-loader></app-loader>
  </ng-container>
</main>
