<div class="ride-list">
  <div class="ride-list__container">
    <div class="ride-list__title">Ride Requests</div>
    <div></div>
  </div>
  <div class="ride-list__content">
    <ng-container
      *ngIf="rideRequest && rideRequest.length !== 0; else noRequest"
    >
      <!-- ride list  -->
      <div class="ride-list__result-item" *ngFor="let request of rideRequest">
        <div class="ride-list__result-icon">
          <svg
            title="LocationMarkerFilled"
            viewBox="0 0 24 24"
            class="g2 ec db"
          >
            <g transform="matrix( 1 0 0 1 2.524993896484375 1.0250244140625 )">
              <path
                fillRule="nonzero"
                clipRule="nonzero"
                d="M16.175 2.775C12.475 -0.925 6.475 -0.925 2.775 2.775C-0.925 6.475 -0.925 12.575 2.775 16.275L9.475 22.975L16.175 16.175C19.875 12.575 19.875 6.475 16.175 2.775ZM9.475 11.475C8.375 11.475 7.475 10.575 7.475 9.475C7.475 8.375 8.375 7.475 9.475 7.475C10.575 7.475 11.475 8.375 11.475 9.475C11.475 10.575 10.575 11.475 9.475 11.475Z"
                opacity="1"
              ></path>
            </g>
          </svg>
        </div>
        <div>
          <p class="ride-list__result-label">
            <span>From: </span>
            {{ request.pickup_label ? request.pickup_label : "" }}
          </p>
          <p class="ride-list__result-label">
            <span>To: </span>
            {{ request.destination_label ? request.destination_label : "" }}
          </p>
          <button
            class="ride-list__accept-btn"
            (click)="acceptRide(request?.id)"
          >
            Accept
          </button>
        </div>
        <ng-container *ngIf="isLoading">
          <app-loader></app-loader>
        </ng-container>
      </div>
    </ng-container>
    <!-- else part  -->
    <ng-template #noRequest>
      <h3 class="empty-message">You do not have any requests</h3>
    </ng-template>
  </div>
</div>
