<ng-container
  *ngIf="rideRequestData && account_type === 'rider'; else not_submitted"
>
  <div class="ride-list">
    <div class="ride-list__wrapper" style="width: 100%">
      <div class="ride-list__title">Ride Request Submitted</div>
      <div style="height: 1px; background-color: black"></div>
    </div>
    <div class="ride-list__content">
      <h3 class="ride-message">
        Wait for the driver to accept your ride request.
      </h3>
      <div class="px-4">
        <button class="btnn btnn__cancel" style="margin-left: auto">
          cancel ride
        </button>
      </div>
    </div>
  </div>
</ng-container>

<!-- else display this  -->
<ng-template #not_submitted>
  <div class="address">
    <div class="address__title">
      <div class="address__title-container">
        <p class="address__title-from" (click)="changeFrom(true)">
          {{
            selectedFrom && selectedFrom.label
              ? selectedFrom.label
              : "Pickup location ?"
          }}
        </p>
        <p class="address__title-to" (click)="changeFrom(false)">
          {{
            selectedTo && selectedTo.label ? selectedTo.label : "Destination ?"
          }}
        </p>
      </div>
    </div>
    <div class="search position-relative">
      <input
        class="search__input"
        type="text"
        [placeholder]="
          isFrom ? 'Add a pickup location' : 'Enter your destination'
        "
        [(ngModel)]="searchinput"
        (ngModelChange)="onInputChanged($event)"
      />
      <ng-container *ngIf="isFrom">
        <fa-icon
          [icon]="faLocationCrosshairs"
          class="icon"
          title="My current location"
          style="cursor: pointer; position: absolute; top: 30px; right: 20px"
          (click)="getUserCurrentLocation()"
        >
        </fa-icon>
      </ng-container>

      <!-- {/* search location result  */} -->
      <div class="search__result">
        <ng-container *ngIf="searchResults && searchResults.length !== 0">
          <div
            class="search__result-item"
            *ngFor="let result of searchResults"
            (click)="onLocationSelected(result)"
          >
            <div class="search__result-icon">
              <svg
                title="LocationMarkerFilled"
                viewBox="0 0 24 24"
                class="g2 ec db"
              >
                <g
                  transform="matrix( 1 0 0 1 2.524993896484375 1.0250244140625 )"
                >
                  <path
                    fillRule="nonzero"
                    clipRule="nonzero"
                    d="M16.175 2.775C12.475 -0.925 6.475 -0.925 2.775 2.775C-0.925 6.475 -0.925 12.575 2.775 16.275L9.475 22.975L16.175 16.175C19.875 12.575 19.875 6.475 16.175 2.775ZM9.475 11.475C8.375 11.475 7.475 10.575 7.475 9.475C7.475 8.375 8.375 7.475 9.475 7.475C10.575 7.475 11.475 8.375 11.475 9.475C11.475 10.575 10.575 11.475 9.475 11.475Z"
                    opacity="1"
                  ></path>
                </g>
              </svg>
            </div>
            <p class="search__result-label">{{ result.label }}</p>
          </div>
        </ng-container>
      </div>

      <!-- {/* avaialble vehicles result */} -->

      <div class="vehicle__result">
        <p *ngIf="driverResult !== null && driverResult?.length === 0">
          No available rides found please select different locations
        </p>

        <ng-container *ngIf="driverResult !== null">
          <div
            class="single__vehicle"
            *ngFor="let result of driverResult"
            (click)="requestRide(result.id)"
          >
            {{ vehicleType(result.vehicle) }}
            <img [src]="icon" alt="uber moto" />
            <div class="w-100" style="margin-left: 1rem">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="vehicle__title">{{ title }}</h5>
                <p>Rs {{ price.toFixed(2) }}</p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="desc">easy and afforable</p>
                <button class="btnn">request</button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <ng-container *ngIf="isLoading">
      <app-loader></app-loader>
    </ng-container>
  </div>
</ng-template>
